<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Filter employees</title>
  </head>
  <body style="background-color:#222;">

    <div class="container">
        <!-- Content here -->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb" >
            <li class="breadcrumb-item" ><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Filter Employee details</li>
          </ol>
        </nav>
        
        <hr>
        <form action="/filter_emp" method="post">
            {% csrf_token %}

            
              {% comment %} <label for="name">Employee First/Last Name</label><br>
              <input type="text" id="name" name="name" value="{{name}}"><br>  {% endcomment %}
              <label for="name"class="control-label col-sm-4"><h3 style="color:#f80404;">Employee First/Last Name</h3></label><br>
              <input type="text" id="name" name="name" class="form-control" value="{{name}}" placeholder="Search employee's name"><br>
              <label for="dept"class="control-label col-sm-2"><h3 style="color:#f80404;">Department</h3></label><br>
              <input type="text" id="dept" name="dept" class="form-control" value="{{dept}}" placeholder="Search employee's department"><br>
              {% comment %} <label for="dept">Department</label><br>
              <input type="text" id="dept" name="dept" value="{{dept}}"><br> {% endcomment %}
              <label for="role"class="control-label col-sm-2"><h3 style="color:#f80404;">Role</h3></label><br>
              <input type="text" id="role" name="role" class="form-control" value="{{role}}" placeholder="Search employee's role"><br>
              {% comment %} <label for="role">Role</label><br>
              <input type="text" id="role" name="role" value="{{role}}"><br> {% endcomment %}
 
            <hr>
            <button type="submit" class="btn btn-primary">Search an employee</button>
          </form>

      </div>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>